.page {
    width: 1280px;
    display: block;
    background-color: #2a2c2f;
    color: white;
    font-family: Inter;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
}

@media screen and (max-width: 1023px) {
    .page {
        width: 1023px;
    }
}

@media screen and (max-width: 767px) {
    .page {
        width: 767px;
    }
}

@media screen and (max-width: 319px) {
    .page {
        width: 319px;
    }
}
