.places {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 92px 0 0 0;
}

@media screen and (max-width: 1023px) {
    .places {
        width: 928px;
        padding-top: 363px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 720px;
        height: 2808px;
        padding-top: 88px;
    }
}


@media screen and (max-width: 319px) {
    .places {
        width: 320px;
        height: 5177px;
        padding-top: 64px;
    }
}