.header__language {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style-type: none;
    margin-right: 15px;
}

@media screen and (max-width: 319px) {
    .header__language {
        padding: 19px 0 0;
    }
}
