.header__language {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style-type: none;
    margin: 0;
    flex-wrap: nowrap;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header__language {
        align-items: center;
    }
}