.cover__subtitle {
  width: 360px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  margin: 32px 0 0;
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
      width: 288px;
      font-size: 18px;
      line-height: 1.22;
      margin: 32px 323px 0;
  }
}


@media screen and (max-width: 424px) {
  .cover__subtitle {
      width: 288px;
      font-size: 14px;
      line-height: 1.14;
      margin-top: 12px;
  }
}
