.cover__subtitle {
    max-width: 360px;
    min-height: 66px;
    margin: 0 auto 245px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    line-height: 1.22;
    z-index: 1;
  }