.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
}

@media screen and (max-width: 1023px) {
  .header {
      width: 928px;
      margin: 0 auto;
      padding: 35px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
      width: 720px;
      margin: 0 auto;
      padding: 28px 24px 0;
  }
}

@media screen and (max-width: 319px) {
  .header {
      width: 288px;
      height: 42px;
      padding: 16px 16px 0;
  }
}
