.content {
    min-width: 320px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    font-family: Inter, sans-serif;
}

@media screen and (max-width: 1279px) {
    .content {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .content {
        max-width: 767px;
    }
}
@media screen and (max-width: 767px) {
    .content {
        max-width: 320px;
    }
}