.footer__links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .footer__links {
        width: 488px;
    }
}

@media screen and (max-width: 424px) {
    .footer__links {
        width: 100%;
        flex-direction: column;
        margin-left: 16px 0 24px;
        padding-top: 64px;
    }
}
