.cover {
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .cover {
        width: 1024px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        width: 768px;
        height: 480px;
        padding-top: 90px;
    }
}