.lead__caption {
    min-width: 158px;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
    margin: 8px 148px 0;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        padding-left: 24px;
        margin: 8px 24px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        padding-left: -158px;
        margin: 8px 24px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 16px;
        margin-top: 8px;
    }
}
