.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 103px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 720px;
        margin: 0 24px;
        padding: 88px 0 24px;
    }
}

@media screen and (max-width: 424px) {
    .footer {
        width: 186px;
        margin: 0 24px;
        flex-direction: column;
        padding: 0;
    }
}
