.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 103px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 928px;
        margin: 0;
        padding: 104px 48px 24px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 720px;
        height: 18px;
        padding: 88px 1px 24px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 424px) {
    .footer {
        width: 186px;
        height: 400px;
        margin: 0 24px;
        flex-direction: column;
        padding: 0;
    }
}
