.intro__title {
    width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
    padding: 44px 0 0 0;
    text-rendering: optimizeLegibility;
    font-family: Inter;
}

@media screen and (max-width: 424px) {
    .intro__title {
        width: 288px;
        height: 70px;
        font-style: normal;
        font-size: 32px;
        line-height: 1.09;
        padding: 20px 0 0;
        margin: 0;
    }
}
