.intro__title {
    width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
    padding: 44px 0 0 0;
    text-rendering: optimizeLegibility;
    font-family: Inter;
}